	<h3 id="notice"><%= notice %></h3>

	<h2 class="biggermargin">
		Welcome to <strong>Food<sup>Science</sup></strong>, 
		kitchen for 
	</h2>
	<h2>
		<em>Empirically Refined Food&copy;</em>
	</h2>

	<p>
		Our restaurant specializes in the kind of food you 
		can only dream of in the majority of the reality in 
		which we live. Care to try a steak that is cooked half 
		perfectly well done, half so rare it's practically 
		mooing? How about a side of fries that can't decide 
		what color they want to be? Or perhaps a garden salad 
		grown to taste like your favorite dressing is already 
		liberally applied? And if you've a long night ahead 
		(and possibly a rip-roaring hangover from the last 
		one) we have fruit platters that are loaded with 
		pep-in-your-step energy that is also a handy headache 
		elimination compound. All that be just the tip of the
		iceberg lettuce, matey.
	</p>

	<p>
		Hungry? We understand. It takes twenty seconds to sign up
		and start planning your deelishus order, beginning right 
		now. Maybe thirty if you forgot your e-mail address. Go. Now.
		This is not rhetorical. Your stomach can only get more full 
		if it has nothing in it, you know. Click the sign in button, 
		up there at the top. We promise you will never forget your 
		first visit to our premises, no matter how hard you try.
	</p>

	<h1>
		Food<sup>Science</sup> is not responsible for any injuries
		experienced by its patrons, their persons or property, or 
		the persons or property of anyone receiving or purchasing 
		goods or services dispensed by Food<sup>Science</sup>.
	</h1>

